:root {
  --font-roboto: 'Arial';
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-roboto), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
  overflow-x: hidden;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}