.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: 0;
}

.sidebar {
    width: 250px;
    background-color: #2c2c2c;
    color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
    min-height: 0;
    overflow-y: auto;
}

.notesWrapper {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}